<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISL Detection</title>
    <link rel ="stylesheet" href="/static_file/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <label class="logo">Sign Detection</label>
        <ul>
            <li><a class ="active" href="/">HOME</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/library">LIBRARY</a></li>
    </nav>
    <div class="text">
        <h1>Indian sign language </h1>
        <h2>Detection</h2>
    </div>
    <div class="image">
        <img src="https://png.pngtree.com/png-clipart/20220927/original/pngtree-sign-language-communication-for-the-deaf-and-the-disabled-png-image_8635918.png" alt="ANIMATED PICTURE">
    </div>
    <div class="button">
        <a  href="/predict"></a><button class="btn">Start Scan</button></a>
    </div>
</body>
</html>